.app {
    margin: 20px 20px 15px 20px;

    .header {
        .logo {
            color: rgb(18, 42, 202);
            text-decoration: none;
            margin-bottom: 20px;
        }
        margin-bottom: 50px;
    }

    .search-bar {
        text-align: right;
        display: block;
        margin-bottom:  30px;
        .counter {
            display: inline-block;
            margin-right: 20px;
            border-radius: 5px;
            background-color: rgb(73, 222, 248);
            padding: 8px;
        }
        
        input {
            padding: 10px;
            border-radius: 10px;
            display: inline-block;
        }
    }

    .shadow-box {
        box-shadow: 0px 4px 5px 2px #aaaaaa;
    }

    .list-flex {

        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 40px;
        justify-content: center;

        .item {
            flex: 1 0 300px;
            vertical-align: top;
            max-width: 300px;
            height: 250px;
            position: relative;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 25% 75%;
            text-decoration: none;
            color: black;

            img {
                border-radius: 50%;
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                height: 150px;
                width: 150px;
                z-index: 3;
                border: 1px solid;
            }

            .item-child-container {
                z-index: 2;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 70% 20%;
                text-align: center;
                
                .title {
                    margin: auto auto 0px auto;
                    display: block;
                    font-size: 17px;
                    color: black;
                    height: fit-content;
                }

                .author {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    font-size: 14px;
                    color: rgb(104, 104, 104);
                    height: fit-content;
                }
            }

        }
    }

    .podcast-detail {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 50px;
        justify-content: left;


        .podcast-card {
            width: 300px;
            padding: 20px;

            img {
                text-align: center;
                margin: auto;
                display: block;
                width: 150px;
                height: 150px;
                border-radius: 10px;
            }

            hr {
                margin: 20px 0px;
                border-top: 1px solid #909090;
            }

            .info-podcast {

                .title {
                    font-size: 17px;
                    color: black;
                    text-decoration: none;
                    font-weight: bold;
                }

                .author {
                    font-size: 14px;
                    color: rgb(104, 104, 104);
                    font-style: italic;
                }
            }

            .description-podcast {
                .title {
                    font-size: 17px;
                    color: black;
                    font-weight: bold;
                }

                .text {
                    font-size: 14px;
                    color: rgb(104, 104, 104);
                    font-style: italic;
                }
            }
        }

        .other-info {
            flex-grow: 1;
            min-width: 300px;
            display: grid;
            grid-template-columns: 100%;
            grid-gap: 30px;

            .podcast-episode {
                padding: 20px;

                .title {
                    margin: 0px 0px 20px 0px;
                }

                .description, .player {
                    margin: 20px 0px;
                }

                .player{
                    width: 100%;
                    
                    audio {
                        width: 100%;
                    }
                    audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-panel {
                        background-color: #a4a4a4;
                        color: #ffffff;
                    }
                }
            }

            .num-episodes {
                height: fit-content;
                padding: 20px;
                text-align: left;
                font-weight: bold;
                font-size: 20px;

                h2 {
                    margin: 0px;
                }
            }

            .table-episodes {
                padding: 20px;
                
                table {
                    height: fit-content;
                    text-align: left;
                    border-collapse: collapse;
                    width: 100%;

                    td {
                        border-bottom: 1px solid rgb(197, 197, 197);
                        padding: 10px
                    }

                    tr:first-child {
                        margin-bottom: 20px;
                        th {
                            padding-bottom: 8px;
                            border-bottom: 2px solid grey;
                        }
                    }

                    tr:nth-child(even) {
                        background-color: #f6f6f6;
                    }

                    .episode-title {
                        text-decoration: none;
                    }

                    .episode-date {
                        width: 100px;
                    }

                    .episode-duration {
                        width: 100px;
                    }
                }
            }
        }
    }
}